.blzplayer {
  aspect-ratio: 16 / 9;
  position: relative;
  user-select: none;
}

.blzplayer::backdrop {
  background-color: black;
}

.blzplayer-container {
  width: 100%;
  height: 100%;
}

.blzplayer:fullscreen .blzplayer-container {
  background-color: black;
}

.blzplayer-video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.blzplayer-video::cue {
  color: white;
  background-color: transparent;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 0 0 0.05em black;
}

.blzplayer-parent {
  position: relative;
}

.blzplayer-canvas {
  position: absolute;
  pointer-events: none;
  display: block;
  bottom: 0;
}

.blzplayer-control {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  color: white;
  flex-direction: column;
  background: linear-gradient(to top, #000a, transparent);
  opacity: 1;
  transition: opacity 0.3s;
}

.blzplayer-idle {
  cursor: none;
}

.blzplayer-idle .blzplayer-control {
  opacity: 0;
}

.blzplayer-top {
  margin: 0.5em 1em;
  position: relative;
  display: flex;
}

.blzplayer-middle {
  padding: 0 1em;
}

.blzplayer-bottom {
  padding: 0.75em 1.5em;
  display: flex;
  justify-content: space-between;
}

.blzplayer-bottom-left,
.blzplayer-bottom-right {
  display: inline-flex;
  align-items: center;
  gap: 1.25em;
  font-size: 1.2em;
}

.blzplayer-notify {
  display: inline-block;
  background-color: #000a;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  left: 0;
  bottom: 0;
}

.blzplayer-settings-box {
  display: inline-block;
  border: none;
  outline: none;
}

.blzplayer-settings-menu,
.blzplayer-settings-speed,
.blzplayer-settings-subtitle {
  background-color: #111c;
  border-radius: 0.25em;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0;
  padding: 0.25em 0;
  visibility: hidden;
  transition: visibility 0.3s step-end, opacity 0.3s;
}

.blzplayer-settings-box[data-open="menu"] .blzplayer-settings-menu {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.3s step-start, opacity 0.3s;
}
.blzplayer-settings-box[data-open="speed"] .blzplayer-settings-speed {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.3s step-start, opacity 0.3s;
}
.blzplayer-settings-box[data-open="subtitle"] .blzplayer-settings-subtitle {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.3s step-start, opacity 0.3s;
}

.blzplayer-settings-option {
  font-size: 1.25em;
  padding: 0.5em 1em;
  cursor: pointer;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s;
}
.blzplayer-settings-option.blzplayer-settings-active {
  background-color: #fff2;
}
.blzplayer-settings-option:hover {
  background-color: #fff3;
}

.blzplayer-settings-icon {
  width: 1.25em;
  height: 1.25em;
}

.blzplayer-settings-unchecked .blzplayer-settings-icon {
  visibility: hidden;
}

.blzplayer-pause-button,
.blzplayer-play-button,
.blzplayer-mute-button,
.blzplayer-settings-button,
.blzplayer-subtitle-button,
.blzplayer-fullscreen-button,
.blzplayer-fullscreen-quit-button {
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
}

.blzplayer-disabled {
  opacity: 0.6;
  pointer-events: none;
}

.blzplayer-time {
  margin-left: -1.25em;
}

.blzplayer:fullscreen .blzplayer-fullscreen-button {
  display: none;
}

.blzplayer:not(:fullscreen) .blzplayer-fullscreen-quit-button {
  display: none;
}

.blzplayer-volume-slider-parent {
  width: 0;
  display: flex;
  position: relative;
  overflow: hidden;
  align-items: center;
  height: 1em;
  opacity: 0;
  margin-right: 0;
  transition: width 0.3s, opacity 0.3s, margin-right 0.3s;
}

.blzplayer-volume-active .blzplayer-volume-slider-parent {
  width: 5em;
  opacity: 1;
  margin-right: 1.25em;
}

.blzplayer-volume-slider-parent::after {
  content: "";
  display: block;
  position: absolute;
  width: var(--volume-percent);
  height: 0.25em;
  left: 0;
  top: 0.375em;
  background-color: white;
  pointer-events: none;
}

.blzplayer-volume-slider {
  all: unset;
  width: 100%;
  height: 0.25em;
  cursor: pointer;
  background-color: #fff6;
}

.blzplayer-volume-slider::-webkit-slider-thumb {
  appearance: none;
  border: none;
  outline: none;
  width: 0.75em;
  height: 0.75em;
  border-radius: 100%;
  background-color: white;
}

.blzplayer-volume-slider::-moz-range-thumb {
  appearance: none;
  border: none;
  outline: none;
  width: 0.75em;
  height: 0.75em;
  border-radius: 100%;
  background-color: white;
}

.blzplayer-progress-slider-parent {
  background-color: #fff3;
  background-clip: content-box;
  display: flex;
  height: 0.25em;
  position: relative;
  padding-top: 0.25em;
  transition: height 0.3s, padding-top 0.3s;
}

.blzplayer-progress-slider-parent:hover {
  height: 0.5em;
  padding-top: 0;
}

.blzplayer-progress-slider-parent::before {
  content: "";
  position: absolute;
  display: block;
  width: var(--buffer-percent);
  height: 0.25em;
  background-color: #fff3;
  pointer-events: none;
  transition: height 0.3s;
}

.blzplayer-progress-slider-parent::after {
  content: "";
  position: absolute;
  display: block;
  width: var(--progress-percent);
  height: 0.25em;
  background-color: purple;
  pointer-events: none;
  transition: height 0.3s;
}

.blzplayer-progress-slider-parent:hover::before,
.blzplayer-progress-slider-parent:hover::after {
  height: 0.5em;
}

.blzplayer-progress-slider {
  all: unset;
  position: relative;
  width: 100%;
  height: 0.25em;
  cursor: pointer;
  transition: height 0.3s;
}

.blzplayer-progress-slider-parent:hover .blzplayer-progress-slider {
  height: 0.5em;
}

.blzplayer-progress-slider::-webkit-slider-thumb {
  appearance: none;
  border: none;
  outline: none;
  width: 0;
  height: 0;
  opacity: 0;
  border-radius: 100%;
  background-color: purple;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
}

.blzplayer-progress-slider-parent:hover
  .blzplayer-progress-slider::-webkit-slider-thumb {
  width: 1.25em;
  height: 1.25em;
  opacity: 1;
}

.blzplayer-progress-slider::-moz-range-thumb {
  appearance: none;
  border: none;
  outline: none;
  width: 0;
  height: 0;
  opacity: 0;
  border-radius: 100%;
  background-color: purple;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
}

.blzplayer-progress-slider-parent:hover
  .blzplayer-progress-slider::-moz-range-thumb {
  width: 1.25em;
  height: 1.25em;
  opacity: 1;
}
